@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body,
.footer-button {
    font-family:'Oswald', sans-serif;
}

/* Верхняя панель */

.nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
    margin-left: 80px;
}

.logo a {
    font-size: 36px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

.logo:hover {
    text-shadow: 3px 1px 0 #817070;
    cursor: pointer;
}

.menu-item {
    display: inline-block;
    margin-left: 47px;
}

ul {
    list-style: none;
}

.menu-link {
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    color: #000000;
}

.menu-link:hover {
    color: #888888;
}

/* Панель с фоном и текстом */

.section-home {
    min-height: 812px;
    background-image: url("https://source.unsplash.com/vSuQJKZkt4U/1920x1080");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-home-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 60px;
}

hr {
    width: 80px;
    height: 10px;
    background: #817070;
}

/* Панель Story */

.section-story {
    padding-top: 60px;
    padding-bottom: 80px;
}

.section-story-title {
    font-size: 36px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    padding-bottom: 60px;
}

.section-story-content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding-right: 123px;
    padding-left: 59px;
}

.picture img {
    max-width: 100%;
    min-height: auto;
}

.section-story-text {
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    padding-left: 40px;
}

/* Панель Blog */

.section-blog {
    background: #EFEFEF;
}

.section-blog-title {
    font-size: 36px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    padding-top: 60px;
}

.section-blog-content {
    display: flex;
    justify-content: space-between;
    padding: 79px 103px 65px 102px;
}

.section-blog-item {
    box-sizing: border-box;
    background: #FFFFFF;
    margin-left: 70px;
    padding: 20px 20px 46px 20px;
}

.section-blog-item-title {
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    margin-bottom: 24px;
}

.section-blog-item-text {
    margin-top: 24px;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
}

/* Панель footer */

.footer {
    text-align: center;
}

.footer-block {
    padding-top: 60px;
    padding-bottom: 58px;
    background-color: #817070;
}

.subscribe {
    font-weight: 500;
    font-size: 36px;
    color: #FFFFFF;
    padding-bottom: 28px;
}

.footer-input {
    padding-top: 28px;
    height: 100px;
    background: #817070;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input[type="email"] {
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    border: 3px solid #FFFFFF;
    background: #817070;
    padding: 9px 96px 16px 93px;
}

::-webkit-input-placeholder {
    font-family:'Oswald', sans-serif;
    color: #FFFFFF;
}

.color-text {
    color: #FFFFFF;
}

.footer-btn {
    margin-top: 28px;
    padding: 12px 34px;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    color: #817070;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.footer-btn:hover {
    background: #817070;
    color: #FFFFFF;
}

.footer-bottom {
    padding-top: 29px;
    padding-bottom: 14px;
    font-weight: 300;
    font-size: 20px;
    background-color: #E5E5E5;
}